<div class="perfil">

    <div class="imagenperfil">
        <img src="{{ imagen }}">
        
    </div>

    <div class="card">
        <div class="card__title">Datos personales</div>
        <div class="card__data">
          <div class="card__right">
            <div class="item">Nombre(s)</div>
            <div class="item">Apellido Paterno</div>
            <div class="item">Apelliod Materno</div>
            <div class="item">Dirección</div>
          </div>
          <div class="card__left">
            <div class="item">{{nombre}}</div>
            <div class="item">{{apellidop}}</div>
            <div class="item">{{apellidom}}</div>
            <div class="item">{{direccion}}</div>
          </div>
        </div>
      </div>

    <div class="divdatos">
        <div class="container">
            <input id="signup_toggle" type="checkbox">
            <form class="form">
                <div class="form_front">
                    <div class="form_details">Editar contraseña</div>
                    <input type="text" name="correo" class="input" autocomplete="off" placeholder="Correo" [(ngModel)]="usuario.correo">
                    <input type="password" name="contrasena" autocomplete="off" class="input" placeholder="Nueva contraseña" [(ngModel)]="usuario.contrasena">
                    <button class="btn" type="submit" (click)="cambiarcontrasena(); limpiarCampos()">Cambiar</button>
                </div>
            </form>
        </div>
    </div>

</div>