.perfil {
  margin-top: 100px;
  margin-bottom:10vh;
}

.imagenperfil {
  /* background-color: red; */
  margin-bottom: 10px;
  min-height: 300px;
  display: flex;
  justify-content: center; /* Centra horizontalmente */
  align-items: center; /* Centra verticalmente */
}

.imagenperfil img {
  border-radius: 6%;
  height: 360px;
  width: 300px;
  margin-top: 30px;
}

/* card para la visualizacion de datos */

.card {
  width: 100%;
  background: #6c6403; /* Cambiar el color de fondo a beige */
  font-family: "Courier New", Courier, monospace;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  overflow: hidden;
}

.card__title {
  color: white;
  font-weight: bold;
  padding: 5px 10px;
  border-bottom: 1px solid rgb(167, 159, 159);
  font-size: 0.95rem;
}

.card__data {
  margin: 0;
  padding: 0;
  font-size: 0.8rem;
  display: flex;
  justify-content: space-between;
  border-right: 1px solid rgb(203, 203, 203);
  border-left: 1px solid rgb(203, 203, 203);
  border-bottom: 1px solid rgb(203, 203, 203);
}

.card__right {
  margin: 0;
  padding: 0;
  width: 50%;
  border-right: 1px solid rgb(203, 203, 203);
}

.card__left {
  margin: 0;
  padding: 0;
  width: 50%; /* Cambia el ancho del contenedor según sea necesario */
  text-align: end;
}

.item {
  padding: 7px;
  background-color: #f9f9f9;
}

.card__right .item {
  padding-left: 0.8em;
}

.card__left .item {
  padding-right: 0.8em;
}

.item:nth-child(even) {
  background: rgb(203, 217, 203);
}

.divdatos {
  margin-top: 20%;
  padding-bottom: 15%;
  display: flex;
  justify-content: center; /* Centra horizontalmente */
  align-items: center; /* Centra verticalmente */
}

/* llenado registro */

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.form {
  display: flex;
  justify-content: center;

  transition: all 1s ease;
}

.form .form_front {
  background: #0c663c;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  backface-visibility: hidden;
  padding: 65px 45px;
  border-radius: 15px;
  box-shadow: inset 2px 2px 10px rgb(24, 23, 23),
    inset -1px -1px 5px rgba(44, 41, 41, 0.6);
}

.form_details {
  font-size: 25px;
  font-weight: 600;
  padding-bottom: 10px;
  color: rgb(255, 255, 255);
}

.input {
  width: 245px;
  min-height: 45px;
  color: #ffffff;
  outline: none;
  transition: 0.35s;
  padding: 0px 7px;
  background-color: #47a955; /* Cambiar el color de fondo a amarillo */
  border-radius: 6px;
  border: 1px solid #323030;
  box-shadow: 6px 6px 10px rgba(0,0,0,1),
  1px 1px 10px rgba(43, 44, 42, 0.6);
}

.input::placeholder {
  color: #ffffff; /* Cambiar el color del placeholder a verde */
}

.input:focus.input::placeholder {
  transition: 0.3s;
  opacity: 0;
}

.input:focus {
  transform: scale(1.05);
  box-shadow: 6px 6px 10px rgb(1, 70, 1), /* Sombra exterior verde oscuro */
  1px 1px 10px rgba(102, 170, 102, 0.6), /* Sombra interior verde claro */
  inset 2px 2px 10px rgb(0, 70, 0), /* Sombra interior verde oscuro */
  inset -1px -1px 5px rgba(0, 25, 0, 0.6); /* Sombra exterior verde claro */
}


.btn {
  padding: 10px 35px;
  cursor: pointer;
  background-color: #FFAD03; /* Cambiar el color de fondo a amarillo */
  border-radius: 6px;
  border: 2px solid #212121;
  box-shadow: 6px 6px 10px rgba(0,0,0,1),
  1px 1px 10px rgba(22, 21, 21, 0.6);
  color: #ffffff;
  font-size: 15px;
  font-weight: bold;
  transition: 0.35s;
}

.btn:hover {
  transform: scale(1.05);
  box-shadow: 6px 6px 10px rgba(0, 100, 0, 1), /* Sombra exterior verde oscuro */
  1px 1px 10px rgba(144, 238, 144, 0.6), /* Sombra interior verde claro */
  inset 2px 2px 10px rgba(0, 100, 0, 1), /* Sombra interior verde oscuro */
  inset -1px -1px 5px rgba(144, 238, 144, 0.6); /* Sombra exterior verde claro */
}

.btn:focus {
  transform: scale(1.05);
  box-shadow: 6px 6px 10px rgba(0, 100, 0, 1), /* Sombra exterior verde oscuro */
  1px 1px 10px rgba(144, 238, 144, 0.6), /* Sombra interior verde claro */
  inset 2px 2px 10px rgba(0, 100, 0, 1), /* Sombra interior verde oscuro */
  inset -1px -1px 5px rgba(144, 238, 144, 0.6); /* Sombra exterior verde claro */
}


.form .switch {
  font-size: 13px;
  color: rgb(234, 241, 232);
}

.form .switch .signup_tog {
  font-weight: 700;
  cursor: pointer;
  text-decoration: underline;
}

.container #signup_toggle {
  display: none;
}

.container #signup_toggle:checked + .form {
  transform: rotateY(-180deg);
}

/* Media queries para dispositivos móviles */
@media only screen and (max-width: 600px) {
  .perfil {
    margin-top: 50px;
  }

  .imagenperfil img {
    height: 300px;
    width: auto;
  }

  .card__right,
  .card__left {
    width: 100%;
    text-align: center;
    border-right: none;
    border-bottom: 1px solid rgb(203, 203, 203);
  }
  
  .input {
    width: 100%;
  }

  .btn {
    width: 80%;
  }
    /* Ajuste dinámico de altura para la columna de título "Dirección" */
    .card__title {
      display: flex;
      align-items: center;
    }

    .item {
      padding: 7px;
      background-color: #f9f9f9;
      font-size: .9em;
    }
}
