<app-encabezado></app-encabezado>

@if(!serviciologin.eslogueado()){
<app-iniciosesion></app-iniciosesion>
}

<div class="separar">   <!-- para separar la barra de inicio con los elementos -->

  <!-- <app-perfil></app-perfil> -->
  <!-- <app-inventario></app-inventario> -->
  <!-- <app-arduino></app-arduino> -->
  <router-outlet></router-outlet>     <!-- aqui carga todos los componentes que se tienen en la navegacion, provoca el traslado en el menu -->

</div>

<app-piepagina></app-piepagina>


<!-- <div class="contenedorimagen">
  <img src="../assets/imagenes/imageninicio.jpg">
</div> -->