/* .contenedorimagen{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
    width: 100%;
}

.contenedorimagen img{
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    width: 80%;
} */

.separar{
    display: flex;
    justify-content: center;
    align-items: flex-start; /* Alinea el contenido en la parte superior */
    height: 100%;
}