.inventario{
    margin-top: 150px;
    margin-bottom:10vh;
}

.miTabla {
    margin-bottom: 10%;
    width: auto;
    border-collapse: collapse; /* Combina los bordes de las celdas */
}

.miTabla img{
  width: 80px;
  height: 100px;
}

.contenedortabla{
  display: flex;
  justify-content: center;
}

.miTabla th,
.miTabla td {
    padding: 8px;
    text-align: left;
    border: 1px solid #dddddd; /* Agrega bordes a las celdas */
}

.miTabla th {
    background: #6c6403; /* Cambiar el color de fondo a beige */
    color: white; /* Texto blanco */
    padding: 8px; /* Espaciado interno */
}

.miTabla tbody tr:nth-child(even) td {
    background-color: #f9f9f9; /* Color de fondo claro para las filas pares */
}

.miTabla tbody tr:nth-child(odd) td {
    background-color: #eaeaea; /* Color de fondo oscuro para las filas impares */
}

.formulario{
    display: flex;
    justify-content: center;
    align-items: center;
}

/* formulario de nuevo producto */

.login {
    margin-bottom: 10%;
    width: 400px;
    height: auto;
    background: #0c663c;
    padding: 47px;
    padding-bottom: 57px;
    color: #fff;
    border-radius: 17px;
    padding-bottom: 50px;
    font-size: 1.3em;
    box-shadow: inset 2px 2px 10px rgb(24, 23, 23),
    inset -1px -1px 5px rgba(44, 41, 41, 0.6);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
  
  .login input[type="text"],
  .login input[type="password"]{
    opacity: 1;
    display: block;
    border: none;
    outline: none;
    width: 90%;
    padding: 13px 18px;
    margin: 20px 0 0 0;
    font-size: 0.8em;
    border-radius: 100px;
    background-color: #47a955; /* Cambiar el color de fondo a amarillo */
    color: #fff;
    border: 1px solid #323030;
    box-shadow: 6px 6px 10px rgba(0,0,0,1),
    1px 1px 10px rgba(43, 44, 42, 0.6);
  }

  .login input[type="file"] {
    opacity: 1;
    display: block;
    border: none;
    outline: none;
    width: 90%;
    padding: 13px 18px;
    margin: 20px 0 0 0;
    font-size: 0.8em;
    border-radius: 100px;
    background-color: #47a955; /* Cambiar el color de fondo a amarillo */
    color: #fff;
    border: 1px solid #323030;
    box-shadow: 6px 6px 10px rgba(0,0,0,1),
    1px 1px 10px rgba(43, 44, 42, 0.6);
  }

  .login input::placeholder{
    color: #ffffff89; 
  }
  
  .login input[type=submit],
  .login input[type=button],
  .h1 {
    font-family: "Montserrat", sans-serif;
    border: 0;
    outline: 0;
    width: 100%;
    padding: 13px;
    margin: 40px 0 0 0;
    border-radius: 500px;
    font-weight: 600;
    animation: bounce2 1.6s;
  }

  .login select{
    opacity: 1;
    display: block;
    border: none;
    outline: none;
    width: 100%;
    padding: 13px 18px;
    margin: 20px 0 0 0;
    font-size: 0.8em;
    border-radius: 100px;
    background-color: #47a955; /* Cambiar el color de fondo a amarillo */
    color: #fff;
    border: 1px solid #323030;
    box-shadow: 6px 6px 10px rgba(0,0,0,1),
    1px 1px 10px rgba(43, 44, 42, 0.6);
  }
  
  .h1 {
    padding: 0;
    display: block;
    margin-bottom: 10%;
    font-size: 1.3em;
  }
  
  .btn {
    background-color: #FFAD03; /* Cambiar el color de fondo a naranja claro por defecto */
    border: 2px solid #FFAD03; /* Borde naranja claro */
    box-shadow: 6px 6px 10px rgba(0,0,0,1), 1px 1px 10px rgba(22, 21, 21, 0.6);
    color: #ffffff;
    padding: 16px !important;
}

.btn:hover {
    background: linear-gradient(144deg, #ffa200, #ffcf0f 50%, #ffbe4e); /* Degradado con tonalidades naranjas */
    border: 2px solid #FF7900; /* Borde en un tono más oscuro */
}

.btneliminar {
  background-color: #ff0303; /* Cambiar el color de fondo a naranja claro por defecto */
  border: 2px solid #ff1c03; /* Borde naranja claro */
  box-shadow: 6px 6px 10px rgba(0,0,0,1), 1px 1px 10px rgba(22, 21, 21, 0.6);
  color: #ffffff;
  padding: 16px !important;
}

.btneliminar:hover {
  background: linear-gradient(144deg, #ff3300, #ff2f0f 50%, #ff604e); /* Degradado con tonalidades naranjas */
  border: 2px solid #ff6f00; /* Borde en un tono más oscuro */
}

.botones{
  display: flex;
  flex: 1;
  margin: 10px;    /* Espacio entre los divs, desde fuera */
  justify-content: center;
  align-items: center;
}

.buscador {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.input-busqueda {
  flex: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px 0 0 5px;
}

.btn-buscar {
  background-color: #075b27;
  color: white;
  border: none;
  border-radius: 0 5px 5px 0;
  padding: 10px 15px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn-buscar:hover {
  background-color: #075b27;
}

/* Media queries para pantallas pequeñas */
@media screen and (max-width: 600px) {

  .login {
    width: 250px;

  }
  .formulario{
    flex-direction: column; /* Cambia la dirección del flexbox a columnas */
  }

  .login input[type="text"],
  .login input[type="password"],
  .login input[type="number"] {
    width: 90%;
    font-size: 0.7em;
  }

  .login select{
    width: 100%;
  }

  .login input[type="file"] {
    width: 90%;
  }

   .login textarea {
    width: 90%;
    height: 100px;
  }

  .miTabla {
    margin-bottom: 10%;
    width: auto;
    border-collapse: collapse; /* Combina los bordes de las celdas */
}

.miTabla img{
  width: 70px;
  height: 100px;
}


}
  