<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;1,500&display=swap" rel="stylesheet">

<div class="inventario">

    <div class="formulario">
        <div class="login wrap">
            <div class="h1">Nuevo usuario</div>
            <input placeholder="Nombre" type="text" [(ngModel)]="usuario.nombre">
            <input placeholder="Apellido paterno" type="text" [(ngModel)]="usuario.apellidop">
            <input placeholder="Apellido materno" type="text" [(ngModel)]="usuario.apellidom">
            <input placeholder="Correo" type="text" [(ngModel)]="usuario.correo">
            <input placeholder="Contraseña" type="password" [(ngModel)]="usuario.contrasena">
            <input placeholder="Dirección" type="text" [(ngModel)]="usuario.direccion">
            <input placeholder="Imagen" type="file" accept="image/*" [(ngModel)]="usuario.imagen" (change)="rutaImagen($event)" id="imagen">
            <select [(ngModel)]="usuario.rol">
                <option value="" disabled selected>Rol</option>
                <option value="Cliente">Cliente</option>
                <option value="Administrador">Administrador</option>
                <option value="Empleado">Empleado</option>
            </select>  

            <input value="Registrar" class="btn" type="submit" (click)="agregar(); limpiarCampos()">
          </div>
    </div>

    <div class="formulario">
        <div class="login wrap">
            <div class="h1">Control de usuarios</div>
            <input placeholder="Correo del usuario" type="text" [(ngModel)]="usuario.correo">

            <div class="botones">
                <div class="botones">
                    <input value="Consultar" class="btn" type="submit" (click)="consultar(); limpiarCampos()">
                </div>
                <div class="botones">
                    <input value="Eliminar" class="btneliminar" type="submit" (click)="eliminar(); limpiarCampos()">
                </div>
            </div> 
          </div>
    </div>

    <div class="buscador">
        <input class="input-busqueda" placeholder="Buscar correo..." type="text" [(ngModel)]="terminoBusqueda" (input)="buscarCorreos()">
        <button class="btn-buscar" (click)="buscarCorreos()">Buscar</button>
    </div>

    <div class="contenedortabla">
    <table class="miTabla">
        <thead>
            <tr>
                <!-- <th>ID</th> -->
                <!-- <th>Nombre</th> -->
                <!-- <th>Apellido paterno</th> -->
                <!-- <th>Apellido materno</th> -->
                <th>Correo</th>
                <!-- <th>Direccion</th> -->
                <th>Imagen</th>
                <th>Rol</th>
            </tr>
        </thead>
        <tbody>

            <ng-container *ngFor="let usuario of correosFiltrados">
                <tr *ngIf="usuario.estado === 'Activo'">   
           
                <!-- <td>{{ usuario._id }}</td> -->
                <!-- <td> {{ usuario.nombre }}</td> -->
                <td>{{ usuario.correo }}</td>
                <td><img src="{{ usuario.imagen }}"></td>
                <td>{{ usuario.rol }}</td>
                
                </tr>
            </ng-container>


        </tbody>
    </table>
    </div>


</div>

